asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
djangorestframework-gis==1.2.0
GDAL==3.8.4
gunicorn==26.0.0
numpy==2.4.4
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.11
pyshp==3.0.3
social-auth-app-django==5.4.3
social-auth-core==4.5.4
sqlparse==0.5.5
whitenoise==6.12.0
